.slider {
    position: relative;
    height: 450px;
    width: 800px;
    margin-left: 50px;
}

.slidercontent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* iPad flicker fix */
    -webkit-backface-visibility: hidden;
}
.slidercontent img {
    height: 450px;
    width: 800px;
    position: relative;
    -webkit-backface-visibility: hidden;
}

.slideable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.slidenext {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -50px;
    height: 100%;
    width: 50px;
    background: red;
}

.slideback {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -50px;
    height: 100%;
    width: 50px;
    background: red;
}

.sliderpages {
    z-index: 2;
    position: absolute;
    top: 350px;
    width: auto;
    height: auto;
    padding: 10px;
    background: #1a60ed;
    border-radius: 5px;
}

.slidepage {
    float: left;
    text-align: center;
    width: 18px;
    height: 18px;
    background: #55e0e0;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.slidepage_active {
    background: #aef5f5;
}